.equipo {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    position: relative;
}

.color-picker {
    position: absolute;
    top: 20px;
    right: 20px;
    appearance: none;
    border-color: transparent;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.color-picker:focus {
    opacity: 0.8;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
    padding: 4px;
}

.equipo h3 {
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .equipo {
        font-size: 32px;
    }

    .color-picker {
        right: 50px;
    }
}