.boton {
    display: inline-block;
    width: 100%;
    max-width: 280px;
    /* Establece un ancho máximo para evitar que se desborde en pantallas grandes */
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px;
    margin: 40px 0;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #0070F3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.boton:hover {
    background-color: #4C9AFF;
}

@media (min-width: 768px) {
    .boton {
        max-width: none;
        /* Elimina el ancho máximo en pantallas grandes */
    }
}